/* SwipeableCard Styles */
.swipe {
  position: absolute;
  width: 300px;
  height: 430px;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  color: #fff; /* Ensure text color is white */
  font-size: 24px;
}

.card {
  position: relative;
  background-color: white;
  width: 300px;
  max-width: 85vw;
  height: 400px;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.swipe-feedback {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.swipe-feedback.right {
  color: #27ae60; /* Green for Like */
  opacity: 1;
}

.swipe-feedback.left {
  color: #e74c3c; /* Red for Dislike */
  opacity: 1;
}

.swipe-feedback.up {
  color: #f39c12; /* Yellow for Skip */
  opacity: 1;
}

.name {
  color: #fff; /* White text color */
  font-size: 24px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Background with opacity for better readability */
  border-radius: 10px;
  align-self: flex-start; /* Align text at the top of the card */
}