.swipe {
  position: absolute;
}

.card {
  position: relative;
  background-color: white;
  width: 300px;
  max-width: 85vw;
  height: 400px;
  box-shadow: 0px 18px 53px -5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.swipe-feedback {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.swipe-feedback.right {
  color: #27ae60; /* Green for Like */
  opacity: 1;
}

.swipe-feedback.left {
  color: #e74c3c; /* Red for Dislike */
  opacity: 1;
}

.swipe-feedback.up {
  color: #f39c12; /* Yellow for Skip */
  opacity: 1;
}

.name {
  color: #fff; /* Green text color */
  font-size: 24px;
  -webkit-text-stroke: 1px #000; /* 2px black stroke around each letter */
}


